<p-dialog header="Confirm Delete" [(visible)]="showConfirmDialog" [modal]="true" [closable]="false" [dismissableMask]="true">
    <p>Are you sure you want to delete the task <b>{{ selectedTask?.title }}</b>?</p>
    <div class="p-dialog-footer confirm-button">
        <button pButton label="Yes" icon="pi pi-check" class="p-button-danger" (click)="deleteConfirmed()"></button>
        <button pButton label="No" icon="pi pi-times" class="p-button-secondary" (click)="showConfirmDialog = false"></button>
    </div>
</p-dialog>

<p-table [value]="tasks" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Task title</th>
            <th>Assigned Username</th>
            <th>Status</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.assignedUserName }}</td>
            <td>
                <p-tag [severity]="task.status === 'NEW' ? 'info' : (task.status === 'DONE' ? 'success' : 'primary')"
                       [value]="task.status"/>
            </td>
            <td>
                <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text"
                        (click)="onEditTask(task)"></button>
                <button pButton icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"
                        (click)="openConfirmDialog(task)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
