<p-table [value]="tasks" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Task title</th>
            <th>Assigned Username</th>
            <th>Status</th>
            <th>Edit</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.assignedUserName }}</td>
            <td>
                <p-tag [severity]="task.status === 'NEW' ? 'info' : (task.status === 'DONE' ? 'success' : 'primary')"
                       [value]="task.status"/>
            </td>
            <td>
                <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text"
                        (click)="onEditTask(task)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
