<p-menubar [model]="menuItems" class="topbar">
  <ng-template pTemplate="start">
    <img src="assets/logo.png" alt="Logo" height="40" />
  </ng-template>
  <ng-template pTemplate="end">
    <button pButton icon="pi pi-user" label="Profile"></button>
  </ng-template>
</p-menubar>

<p-sidebar [(visible)]="sidebarVisible" [modal]="false" [showCloseIcon]="false" position="left">
  <div class="sidebar-header">
    <h3>Menu</h3>
  </div>
  <p-panelMenu [model]="sidebarMenu"></p-panelMenu>
</p-sidebar>

<div class="content">
  <router-outlet></router-outlet>
</div>
