<div class="p-5 p-grid p-dir-col p-md-dir-row p-ai-start p-jc-center project-detail">
    <!-- Project Card -->
    <div class="card shadow-3 col-12 md-6 lg-4">
        <div class="card-header text-center py-3">
            <h2>{{ project.name }}</h2>
        </div>
        <div class="card-body">
            <p>
                <strong>Description:</strong> {{ project.description }}
            </p>
            <p>
                <strong>Owner Name:</strong> {{ project.ownerName }}
            </p>
        </div>
    </div>
</div>
<div class="project-details" *ngIf="project">
    <!-- Search Zone -->
    <div class="search-zone grid">
        <div class="col-5 col-sm-12">
            <button pButton label="Add Task" class="p-mt-3" (click)="openTaskPopup()"></button>
        </div>
        <div class="col-7 md-4 grid">
            <div class="col">
                <input id="searchId" type="text" pInputText [(ngModel)]="searchId" (input)="applyFilters()"
                       class="search-filter"
                       placeholder="Search by ID"/>
            </div>
            <div class="col">
                <p-dropdown
                    id="searchStatus"
                    [options]="[{ label: 'NEW', value: 'NEW' }, { label: 'DONE', value: 'DONE' }, { label: 'PROGRESSING', value: 'PROGRESSING' }]"
                    [(ngModel)]="searchStatus"
                    (onChange)="applyFilters()"
                    class="search-filter"
                    placeholder="Select a status"
                ></p-dropdown>
            </div>
            <div class="col">
                <p-dropdown
                    id="searchUser"
                    class="search-filter"
                    [options]="users"
                    [(ngModel)]="searchUser"
                    (ngModelChange)="applyFilters()"
                    placeholder="Search All user"
                    [showClear]="true"
                    optionLabel="userName"
                    optionValue="id"
                ></p-dropdown>
            </div>
            <div class="col">
                <button pButton label="Reset Filters" class="p-button-secondary" (click)="resetFilters()"></button>
            </div>
        </div>

    </div>

    <app-task [tasks]="tasks" (editTask)="openTaskPopup($event)"></app-task>
</div>

<div *ngIf="!project">
    <p>Loading project details...</p>
</div>
